<!-- <h1> Welcome to Angular Batch from Naresh IT</h1>
<app-second></app-second> 

<app-databinding></app-databinding>

<app-visitingcard [userObj]='userinput'></app-visitingcard>

<app-pipe></app-pipe>
<app-emp-list></app-emp-list>


<p appBasichighlight>High Light Me</p>

<span appBasichighlight>Span Tag HighLight</span>
<br>
<span appRenderer> Renderer Example</span>


<span appHostlistener> Host Listener Example</span>

<span appHostbinding 
 
[highLightColor]="'cyan'"
 [leaveColor]="'yellow'"> Host Binding</span>

 <h1> Credit Card Payment</h1>

 <br><br>
 Card Number: <input type="text" [(ngModel)]="cardNumber">
 <br><br>
 <img appCclogo [cardNumber]="cardNumber">

 <app-lifecycle></app-lifecycle>

 <input type="text" [(ngModel)]="usertext">
 <app-simplechange [simpleInput]="usertext"></app-simplechange>

 <app-countries></app-countries>-->


 <app-accountlist></app-accountlist>
